body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #fff;
}
a, a:hover, a:visited, a:active {
    color: #fff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/**********/
/* Layout */
/**********/

aside, footer, header, nav, section, article {
    display: flex;
    flex-direction: column;
  }

body {
    overflow: hidden;
    margin: 0px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 100px;
    grid-template-areas:
       "left main"
       "bottom bottom";
    height: 100vh;
}
aside {
    background-color: #000;
    grid-area: left;
    padding-top: 10px;
    padding-left: 10px;

}

aside a.selected {
  border-left: solid 2px green;
  filter: brightness(100%);
}

nav a.selected {
  border-bottom: solid 2px green;
  filter: brightness(100%);
}

a {
  line-height: normal;
  padding: 5;
  margin: 5;
}



header {
    background: #111;
    position: fixed;
    width: calc(100vw - 250px);
    left: 250px;
    height: 70px;
    justify-content: flex-end;
}

header #upgrade {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border: solid 1px #FFF;
  border-radius: 30px;
}

header #profile {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #333;
  border-radius: 30px;

}

main {
    background: #111;
    grid-area: main;
    min-height: calc(350px);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 3;
}

nav {
    margin-top: 100px;
    flex-direction: row;
    line-height: normal;
}

footer {
    background: #222;
    grid-area: bottom;
}

header {
  align-items: right;
  flex-direction: row;
  margin: auto;
  padding: 10px;
  line-height: normal;
  position: fixed;
}

#featured-content {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.artist-card {
  width: 20%;
  padding: 10px;
  font-size: 12px;

}

card > div {}

.artist-card > div{
  border: solid 1px black;
  background-color: #333;
  padding: 25px;
  border-radius: 20px;
}

#featured-content img {
  background-size: cover;
  width: 100%;
  height: auto;
  border-radius: 50%;

}
aside a{
  filter: brightness(90%);
}

aside a:hover {
  filter: brightness(100%)
}

nav a{
  filter: brightness(90%)
}

nav a:hover {
  border-bottom: solid 2px green;
  filter: brightness(100%);
}


#upgrade:hover {
  background-color: grey;
}

#profile:hover {
  background-color: grey;
}

.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  float: right;
  margin-top: -25px;
  opacity: 0;
  color: white;
  background-color: #1DB954;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: green;
}

.artist-card:hover .play-button {
  opacity: 1;
}

/***************************/
/* Accessories & Florishes */
/***************************/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}

@media screen and (max-width: 1200px) {
  .artist-card{
    width: 33.33%;
    padding: 10px;
  }
}
@media screen and (max-width: 700px) {
  body {
      grid-template-columns:auto;
      grid-template-areas:
        "main"
        "bottom";
  }

  .artist-card{
    width: 50%;
    padding: 10px;
  }
  aside {
    display: none;
  }

}
